.w-90px {
  width: 90px;
}
.w-80px {
  width: 80px;
}
.w-70px {
  width: 70px;
}
.w-60px {
  width: 60px;
}
.w-50px {
  width: 50px;
}
.w-40px {
  width: 40px;
}
.w-30px {
  width: 30px;
}
.w-20px {
  width: 20px;
}