.bg-aqua {
  background-color: aqua;
}
.bg-dark-grey {
  background-color: darkgray;
}
.bg-pink {
  background-color: pink;
}
.bg-green {
  background-color: #B3FFAE;
}
.bg-cream {
  background-color: #F8FFDB;
}
.bg-cream-2 {
  background-color: #FFFAD7;
}